<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="/static/css/anasayfa.css">
</head>
<body>
    <header>
        <h1>Türkçe Ve İngilizce Sözlüğe Hoşgeldiniz!</h1>
    </header>
    <main>
        <div class="container">
            <a href="{{ url_for('turkce') }}" class="button">Türkçe Sözlük</a>
            <a href="{{ url_for('ingilizce') }}" class="button">İngilizce Sözlük</a>
            
        </div>
    </main>
</body>
</html>
